/*div {
  border: 1px dashed orange;
} */

#main {
  text-align: left;
}

.setup {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.colorSelector {
	float: left;
	margin: 2em;
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../colorpicker/images/select.png);
}
.colorSelector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../colorpicker/images/select.png) center;
}

#mainCanvas {
	border: 1px solid black;
}